#sentences_display {
  width: 500px;
  height: 500px;
  background-color: AntiqueWhite;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 20px;
  overflow: hidden;
}

#sentences_display li {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  padding: 20px;
}
