<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" href="style.css" type="text/css">
  <script type="text/javascript" src="/controllers/tone.js"></script>
  <script type="text/javascript" src="/controllers/bookDownload.js"></script>
  <script type="text/javascript" src="/controllers/bookDisplay.js"></script>
</head>


<body>
<h1> Welcome to BookMusic</h1>

    <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" width="300" height="100" frameborder="0" allowtransparency="true" />



</body>
