<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="static/style.css" type="text/css">
  <script type="text/javascript" src="static/jquery-3.1.0.js"></script>
  <script type="text/javascript" src="static/bookDownload.js"></script>
  <script type="text/javascript" src="static/bookDisplay.js"></script>
  <script type="text/javascript" src="static/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"src="./static/dropzone.js"></script>


</head>


<body background style='background-image:url(../static/upfeathers.png)'>
<div id="super_container">
<header>
<img src="cutlogo.png" class="logo"/>
<h1> Welcome to BookMusic</h1>
</header>
<form name ="subscribe" id="subscribe_frm" action="/file-upload" class="dropzone">

<!--Enter URL <input type="text" name="name" id="txt_name" />-->
<input type="file" name="sampleFile" id="file"/>
<input type="submit" style="
  margin: 10px 300px;
  background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
" value="Submit!" id="send"/>
</form>

<ul id="sentences_display">
  <li id="content"></li>
</ul>

<button type="button" class="btn btn-primary">
<div id="left">LEFT</div>
</button>



<button type="button" class="btn btn-danger">
<div id="right">RIGHT</div>
</button>

<br>
Anger: <span id="anger"></span><br>
Disgust: <span id="disgust"></span><br>
Fear: <span id="fear"></span><br>
Joy: <span id="joy"></span><br>
Sadness: <span id="sadness"></span><br>


<iframe id="spotiflier" src="https://embed.spotify.com/?uri=spotify%3Auser%3Aqlmhuge%3Aplaylist%3A6Df19VKaShrdWrAnHinwVO" width="800" height="100" frameborder="0" allowtransparency="true" />

</div>
</body>
