<!DOCTYPE HTML>
<head>
  <link rel="stylesheet" href="style.css" type="text/css">
  <script type="text/javascript" src="/controllers/tone.js"></script>
  <script type="text/javascript" src="/controllers/bookDownload.js"></script>
  <script type="text/javascript" src="/controllers/bookDisplay.js"></script>
</head>


<body>
<h1> Welcome to BookMusic</h1>

<form name ="subscribe" id="subscribe_frm" action="/subscribe">

Enter URL <input type="text" name="name" id="txt_name" />

<input type="submit" value="Submit!" />
</form>


</body>
